---
import Layout from '@layouts/Page.astro';
import LinkList from '@components/LinkList.astro';
import { academicsSummerPrograms } from '@links/registry';
---
<Layout title="Johns Hopkins Center for Talented Youth 2025">
  <LinkList slot="sidebar" items={academicsSummerPrograms} orientation="vertical" />
  <p>This is a stub page for Johns Hopkins Center for Talented Youth 2025. Replace this text with real content.</p>
</Layout>
