---
import Layout from '@layouts/Page.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---
<Layout
  title="About Zoe Wacker"
  description="Student profile and achievements"
  pubDate={new Date('September 13 2025')}
  heroImage={AboutHeroImage}
>
  <p> Hi! I’m Zoe, a middle schooler who’s always juggling a bunch of different interests (and probably too
  many notebooks). I started this site to keep track of the things I’m working on, the ideas I’m excited
  about, and the projects that don’t always fit neatly into a school folder.</p>
<p> Right now, I’m into robotics, creative writing, and community service—but that’s just the start. I also love discovering new places, digging into history, and snapping photos that tell little stories.  </p>
 <p> This page will grow and change as I do, turning into a collection of the stuff I’ve learned, made, and tried along the way. Basically, it’s my highlight reel of experiments, adventures, and “aha!” moments.  </p>

</Layout>
