---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav class="container">
    <h2 class="brand"><a href="/">{SITE_TITLE}</a></h2>

    <div class="internal-links" role="navigation" aria-label="Primary">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/travel">Travel</HeaderLink>
      <HeaderLink href="/photography">Photography</HeaderLink>
      <HeaderLink href="/music">Music</HeaderLink>
      <HeaderLink href="/geography">Geography</HeaderLink>
      <HeaderLink href="/guardian-arts">Guardian Arts</HeaderLink>
      <HeaderLink href="/academics">Academics</HeaderLink>
    </div>
  </nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
