---
import Layout from '@layouts/Page.astro';
import LinkList from '@components/LinkList.astro';
import { academicsYears } from '@links/registry';
---
<Layout title="6th Grade">
  <LinkList slot="sidebar" items={academicsYears} orientation="vertical" />
<p>Sixth grade was my first year at Hillview Middle School, and it was a big transition from Oak Knoll Elementary. It was also my first time having homework—Oak Knoll didn’t assign any—and I got to choose electives.</p>

<p>For my first elective, I took a second math class: Pre-Algebra. It was challenging, but I worked hard and came out with stronger problem-solving skills.</p>

<p>My second elective was Orchestra, where I continued learning cello with Ms. Murdoch. I really enjoyed playing and improving throughout the year.</p>

<p>My last elective was French 1A. It was my first real foreign-language class, and I learned verb conjugation and lots of vocabulary. At the end of the year, I took the AAPPL test and earned an I-2.</p>

<p>My favorite class overall was Science with Mr. Nicol. We spent a lot of time on the scientific method, and his background as an engineer made everything feel real and practical.</p>

</Layout>
