---
import Layout from '@layouts/Page.astro';
import LinkList from '@components/LinkList.astro';
import { photographyAwards } from '@links/registry';
---
<Layout title="Photography — Awards">
  <LinkList slot="sidebar" items={photographyAwards} orientation="vertical" />
  <p class="intro">So far I have only won one award, but I'm hopeful to fill this page out more in the near
  future..</p>
</Layout>
